ipywidgets
# see installation page for additional config for jupyter lab
# https://ipywidgets.readthedocs.io/en/latest/user_install.html
jupyterlab
matplotlib
numpy
pandas
Pillow
scipy
sklearn
tensorflow==2.3.4
tqdm